.hero-section {
  height: 110vh;
  padding: 180px 0 93px;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;
  background-attachment: fixed;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero__form {
  width: 449px;
  height: 627px;
  padding: 25px;
  border-radius: 10px;
  background-color: #3A3A3A80;
  backdrop-filter: blur(5px);
}

.form__top-content-wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}

.hero__form-title {
  margin-bottom: 8px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  color: $white-clr;
}

.hero__form-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: $white-clr;
}

.hero__form-input-wrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero__label > .hero__input {
  background-image: url(../images/location-icon.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 15px center;
} 

.hero__label:nth-child(3) > .hero__input {
  background-image: url(../images/calendar-icon.png);
}

.hero__label > span {
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  color: $white-clr;
}

.hero__input {
  padding: 18px 5px 18px 47px;
  outline: none;
  border: none;
  border-radius: 12px;

  &:focus {
    box-shadow: 0 0 5px 0 $orange-clr;
  }
}

.hero__radio-wrapper {
  padding-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
}

.hero__radio-wrapper>span {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  color: $white-clr;
}

.hero__radio-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio__label {
  width: 192px;
  padding: 15px;
  border-radius: 15px;
  background-color: $white-clr;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.radio__circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #D3D3D3;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    inset: 2.5px;
    border-radius: 50%;
    background-color: transparent;
  }
}

.radio__check-input:checked ~ .radio__cirle::before{
  background-color: $orange-clr;
}

.hero__btn{
  padding: 17px 0;
  background-color: $orange-clr;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.57px;
  color: $white-clr;
  cursor: pointer;

  &:hover{
    background-color: transparent;
    color: $orange-clr;
    border-color: $orange-clr;
    box-shadow: 0 0 5px 0 $orange-clr;
  }
}

.hero__content{
  width: 550px;
  padding-top: 43px;
}

.hero__top-dec{
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__top-dec > span{
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-transform: uppercase;
  color: $white-clr;
}

.hero__title{
  font-size: 56px;
  font-weight: 700;
  line-height: 67.77px;
  color: $white-clr;
}

.hero__bottom-text{
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  color: $white-clr;
}